@font-face {
    font-family: "Rubik";
    src: url("../assets/fonts/Rubik/Rubik-Bold.ttf")
      format("truetype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Nunito Sans";
    src: url("../assets/fonts/Nunito_Sans/NunitoSans-Regular.ttf")
      format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Nunito Sans";
    src: url("../assets/fonts/Nunito_Sans/NunitoSans-Bold.ttf")
      format("truetype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Nunito Sans";
    src: url("../assets/fonts/Nunito_Sans/NunitoSans-Light.ttf")
      format("truetype");
    font-weight: lighter;
    font-style: normal;
}
*{
  box-sizing: border-box !important; /* Importante: esto hace que el tamaño de todas las cajas contemple el padding */
}

:root{
  --rosa: #E90248;
  --rosaHover: #EC2863;
  --grisOscuro: #232323;
  --grisSeparador: #e0e0e0;
}

html,body {
  margin: 0%;
  font-size: 10px;
  font-family: "Nunito Sans", sans-serif;
}
  h1 {
    font-family: "Rubik";
    font-size: 4.5rem;
    font-weight: bold;
    font-style: normal;
    margin: 0%;
  }
  h2 {
    font-family: "Rubik";
    font-size: 3.6rem;
    font-weight: bold;
    font-style: normal;
    margin: 0%;
  }
  
  h3 {
    font-family: "Rubik";
    font-size: 2.6rem;
    font-weight: bold;
    font-style: normal;
    margin: 0%;
  }

  h4 {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: bold;
    font-size: 15rem;
    margin: 0%;
  }

  p{
    font-family: "Nunito Sans", sans-serif;
    font-size: 2rem;
    font-weight: normal;
    font-style: normal;
   
  }
  
  a{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 3.5rem;
  }

/* <!-- HEADER --> */  

.barra{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 15%;
}

/* <!-- PORTADA --> */

.portada-conteiner{
    background-color: black;
    display: flex;
    flex-direction: row;
    padding: 9rem;
    width: 100%;
}
.portada-texto{
    display: flex;
    flex-direction: column;
    color: white;
    width: 100%;
    gap: 2rem;
}
.d1{
  padding-right: 7rem;
}
.d2{
  padding-right: 15rem;
}

.boton1, .boton2, .boton3, .boton-form1{
    width: 214px;
    height: 53px; 
    color: white;
    background-color: var(--rosa);
    text-decoration: none;
    border-radius: 6rem;
    text-align: center;
    cursor: pointer;
    font-family: "Nunito Sans", sans-serif;
    font-size: 2rem;
    font-weight: bold;
    border: none;
}

.boton1 a, .boton2 a, .boton3 a{
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.8rem;
}
.boton1:hover, .boton2:hover, .boton3:hover, .boton-form1:hover{
  background-color: var(--rosaHover);
}
.portada-imagen{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.imagen1{
  width: 100%;
}


/* <!-- SECCIÓN 1 --> */

.seccion1{
    background-color: black;
}
.s1-cont{
    background-color: white;
    border-bottom-right-radius: 50rem;
    border-top-right-radius: 50rem;
    width: 75%;
    z-index: 100;
    position: relative;
}
.s1-texto{
    color: black;
    padding: 9rem;
    padding-right: 30rem; 
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: stretch;

}
.s1-texto .t p{
  font-size: 1.8rem;
}
.s1-textof{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: bold;
    font-size: 120px;
    line-height: 130px;
    display: flex;
    align-items:center;
    text-align: right; 
    color: var(--grisOscuro);
}
.cRosa{
  width: 6%;
}
.b, .deco{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.flecha1{
  width: 10%;
}
.flecha2{
  width: 12%;
}

/* <!-- SECCIÓN 2 --> */

.seccion2 {
  background-color: black;
  width: 100%;
  display: flex;
  flex-direction: column;
  border: none;
  
 }
 
 .texto{
   width: 100%;
   background-color: black;
   color: white;
 
 }
 
 .cont-grilla{
   padding-left: 5rem;
   padding-top: 18rem;
   padding-right: 5rem;
   
 }
 
 .grilla{
   background-color: black;
   color: white;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows: 1fr 2fr;
   grid-template-areas:
     "main second third fourth"
     "fifth sixth seventh eighth";
   column-gap: 4rem;
   row-gap: 1rem;
   justify-items: stretch;
   align-items: stretch;
 }
 .grilla p{
   font-weight: lighter;
   font-size: 1.8rem;
   margin: 0%;
 }
 .grilla h4{
   color: var(--rosa);
 }
 .grilla .elem1{
   grid-area: main;  
 }
 .grilla .elem2 {
   grid-area: second;  
 }
 .grilla .elem3 {
   grid-area: third;  
 }
 .grilla .elem4 {
   grid-area: fourth;   
 }
 .grilla .elem5{
   grid-area: fifth;
 }
 .grilla .elem6 {
   grid-area: sixth;
 }
 .grilla .elem7 {
   grid-area: seventh;
 }
 .grilla .elem8 {
   grid-area: eighth;
 }
 .elem5, .elem6, .elem7, .elem8{
  padding-right: 5rem;
 }

 .s2-texto{
  display: flex;
  width: 100%;
  color: white;
  background: transparent;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  padding-right: 10%;
  position: absolute;
  z-index: 2;
  padding-top: 7rem;
  }

  .cont-img{
    width: 100%;
    display: flex;
    position: absolute;
    z-index: 3;
    align-items: center;
    justify-content: flex-end;
    padding-top: 5rem;

  }
  .s2-imagen{
    width: 75%;
    height: 9.7rem;
  }
  .s2-f{
    display: flex;
    justify-content: flex-end;
    padding-right: 5rem;
    padding-bottom: 2rem;

  }
  .flecha3{
    width: 6%;
  }

  /* ------------------- CARDS ------------------------- */

  .seccion2 .cards-cont{
    background-color: black;
    width: 100%;
    padding-top: 23rem;
    padding-bottom: 6rem;
  }
  
  .cards-info .card-wrapper .card{
    border-radius: 25px;
    border: 2px solid white;
    background-color: black;
    height: 420px;
  }
  
  .cards-info{
    margin: 0 60px;
  }
  .card .num{
    color: var(--rosa);
    padding-bottom: 0%;
  }
  .card .tex{
    color: white;
    padding-top: 0%;
  }
  
  .num, .tex{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3.5rem;
    text-align: center;
  }

  .swiper-button-next, .swiper-button-prev{
    padding-top: 10rem;
  }

.circulo1{
  width: 15%;
  position: absolute;
  z-index: 3;
  padding-top: 68rem;

}

/* <!-- SECCIÓN 3 --> */
.seccion3{
    width: 100%;
    background-color: white;
    display: flex;
    padding-left: 9rem;
    padding-right: 9rem;
    padding-top: 17rem;
    padding-bottom: 6rem;
    justify-content: space-between;
   
}
.s3-t{
    display: flex;
    align-items: center;
    color: black;
    margin: 0%;
}
.s3-texto{
  width: 70%;
}

.pasos{
    line-height: 4rem;
    padding-top: 4rem;
    padding-right: 10rem;
    list-style-type: none;
    padding-left: 2rem;
    margin: 0%;
}
.paso2{
  padding-top: 0.1rem;
}
.paso3{
  padding-top: 0.1rem;
}
.lista{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0px;
}
.img-lista{
  width: 52px;
  height: 502px;
}

.imagen2{
    width: 100%;
}


/* <!-- FOOTER --> */
.footer{
    background-color: black;
    width: 100%;
}
.f-texto{
    padding-left: 7rem;
    padding-top: 4.7rem;
}
.link1, .link2, .link3, .link4, .link5{
    align-items: center;
    color: white;
    text-decoration: none;
}
.icono1, .icono2, .icono3, .icono4{
    width: 2rem;
}
.f-redes, .redes{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 2rem;
}


/* <!-- FORMULARIO --> */
.oculto{
  display: none !important; 
}

.wrapper{
    background-color: #fff;
    text-align: center;
    padding-left: 35px;
    padding-right: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    column-gap: 10px;
    padding-top: 0px;
}

.form-tex1, .form-tex2{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: #000000;
}

.wrapper .steps{
  display: flex;
  justify-content: center;
}
.wrapper .steps ul li{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  list-style-position: outside;
  height: 6px;
  width: 50px;
  margin: 2px;
  background-color: #A5A5A5;
  border: none;
  border-radius: 40px;
  display: inline-block;
  
}
.wrapper .steps ul li.active{
  background-color: #E90248;
  
}
.wrapper hr, .feedback hr{
  margin-top: 30px;
  margin-bottom: 30px;
}
.steps ul{
  padding-left: 0px;
}

.input-wrap{
  width: 500px;
  max-width: 100%;
  margin:0 auto 30px;
}

.wrapper .form .input-wrap input{
  border: 1px solid #A5A5A5;
  border-radius: 20px;
  padding: 10px;
  padding-left: 25px;
  display: block;
  width: 100%;

}
.input-wrap input:focus{
  border: 1px solid #E90248;
  border-color: #E90248;
}

.wrapper .botones{
  width: 350px;
  max-width: 100%;
  margin: 40px;
}
.wrapper .botones .common-botones{
  display: flex;
  justify-content: center;
  gap: 20px;
}
.wrapper .botones .common-botones button{
    width: 214px;
    height: 45px; 
    color: white;
    background-color: #E90248;
    text-decoration: none;
    border-radius: 60px;
    text-align: center;
    cursor: pointer;
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    font-weight: bold;
    border: none;
}
.wrapper .botones .common-botones button.btn-vol{
  color: #E90248;
  background-color: #A5A5A5;
  width: 123px;
}
.wrapper .botones .common-botones button.btn-vol:hover{
  background-color: #848484;
}
.wrapper .botones .common-botones button.btn-sig:hover, .wrapper .botones .common-botones button.btn-conf:hover{
  background-color: #EC2863;
}




.md-chip {
  display: inline-block;
  background: #e0e0e0;
  padding: 2px 18px;
  border-radius: 32px;
  margin: 0 5px 3px 0;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: lighter;
  font-size: 16px;
  justify-content: space-between;
  align-items: stretch; 
  align-content: space-between;

}
.md-chip-hover:hover {
    background: #ccc;
  }
.md-chip-clickable {
 cursor: pointer;
}
.md-chip, .md-chip-icon {
  height: 32px;
  line-height: 32px;
}
.md-chip-remove {
  display: inline-block;
  background: #aaa;
  border: 0;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  padding: 0;
  margin: 0 -4px 0 4px;
  cursor: pointer;
  font: inherit;
  line-height: 20px;
}
.md-chips {
  display: flex;
  flex-wrap: wrap;
  padding: 12px 0;
  padding-left: 350px;
  padding-right: 350px;
  justify-content: space-around;
  align-items: stretch; 
  align-content: space-around; 
  gap: 3px;

}
.md-chip-raised {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"]:checked + label {
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  /* background-color: #E90248;
  color: #fff; 
  border-color: #E90248; */
  background: rgba(233, 2, 72, 0.15);
  color: #000;
  border: 1px solid #E90248;

}



/* <!-- FEEDBACK --> */

.feedback-cont{
  margin: 0%;
  width: 100%;
  background-color: white;
}
.feedback{
  color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feedback img{
  width: 100%;
}
hr{
  text-align: center;
  width: 44rem;
  border-color: var(--grisSeparador);
}
.feedback .hr2{
  margin-top: 8rem;
}


/* <!-- RESPONSIVE --> */

@media screen and (min-width: 501px) {
  .mobile-only {
    display: none;
  }
  .cards-cont .swiper-button-next, .cards-cont .swiper-button-prev, .cards-cont .swiper-pagination{
    display: none;
  }
  div.cards-cont {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .desktop-only {
    display: none;
  }
  html {
    font-size: 8px;
    width: 100%;
  }
  h3{
    font-size: 2.2rem;
  }
  h4{
    font-size: 17rem;
  }

  /* <!------- Header -------> */

  .barra{
    justify-content:flex-start;
    padding: 1rem;
    padding-left: 4rem;

  }
  .logo{
    width: 30%;
  }

  /* <!------- Portada -------> */
  
  .portada-conteiner{
    padding-left: 4rem;
    padding-top: 10rem;
    padding-right: 0%;
    padding-bottom: 0%;
    width: 100%;
    flex-wrap: wrap;
  }
  .portada-texto{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-right: 4rem;
  }
  .d1, .d2{
    padding-right: 0%;
  }
  .boton1, .boton-form1{
    width: 150px;
    height: 40px; 
  }
  .boton2, .boton3{
    width: 133px;
    height: 40px;
  }
  .portada-imagen{
    justify-content: flex-end;
    width: 100%;
    padding: 0%;
  
  }
  .p-img{
    display: flex;
    justify-content: flex-end;
    padding-top: 6rem;
    padding-bottom: 2rem;
  }
  .imagen6{
    width: 75%;
    padding: 0%;
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;


  }

  /* <!------- Sección 1 -------> */

  .s1-cont{
    background-color: white;
    border-radius: 0px;
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 4rem;

}
.s1-texto{
  padding: 4rem;
  padding-bottom: 0%;
}
.s1-c{
  background-color: white;
  display: flex;
  justify-content: flex-end;
  padding-top: 2rem;

}
.circulo3{
  width: 20%;
  padding-right: 2rem;
}
.circulo4{
  padding-top: 2rem;
  width: 16%;
  position: absolute;
  z-index: 3;
  padding-right: 0%;
}

  /* <!------- Sección 2 -------> */
  
  .seccion2{
    padding-top: 5rem;
  }
  .s2-texto{
    padding-left: 20%;
    padding-top: 13%;
  }
  .s2-imagen{
    height: 105px;
    width: 85%;
  }
  .cont-img{
    padding-top: 4rem;
  }
  .flecha3{
    width: 15%;
  }
  .s2-f{
    padding-top: 6rem;
  }
  .circulo1{
    width: 25%;
    padding-top: 88rem;
  }


  /* <!------- Sección 3 -------> */
  .seccion3{
    flex-direction: column;
    padding: 4rem;
    justify-content: space-evenly;
    padding-top: 13rem;
  }
  .pasos{
    padding-right: 4rem;
  }
  .imagen3{
    width: 90%;
  }
  .s3-imagen{
    text-align: center;
    padding-top: 2.5rem;
  }
  .s3-texto{
    width: 100%;
  }
  .s3-t{
    font-size: 2.8rem;
  }

  /* <!------- Footer -------> */
  .f-texto{
    padding-left: 4rem;
    padding-top: 4rem;
  }

  ul{
    padding-inline-start: 0px;
  }

  /* <!------- Formulario -------> */

  /* <!------- Feedback -------> */
  

}